{% extends 'base.html' %}

{% block nav %}
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'index' %}">Home</a></li>
            <li><a href="http://www.github.com/jwarren116" target="_blank">Git Hub</a></li>
            <li><a href="{% url 'posts' %}">Posts</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Projects<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a target="_blank" href="https://www.ezpy.co">ezPy Environment Manager</a></li>
                <li><a target="_blank" href="https://dine-o-truck.jwarren.co">Dine-o-Truck</a></li>
                <li><a target="_blank" href="https://cf.jwarren.co">Code Fellows Learning Journal</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
{% endblock %}

{% block content %}
    <!-- Main jumbotron -->
    <div class="jumbotron">
      <div class="container">
      {% if heading %}
        <h1>{{ heading.title }}</h1>
        <p>{{ heading.blurb|safe }}</p>
        <p><a class="btn btn-primary btn-lg" href="{% url 'entry' heading.id %}" role="button">Read more &raquo;</a></p>
      {% endif %}
      </div>
    </div>

    <div class="container">
      <!-- Row of columns -->
      <div class="row">
      {% if posts %}
        {% for item in posts %}
        <div class="col-md-4">
          <h2>{{ item.title }}</h2>
          <p>{{ item.blurb|safe }}</p>
          <p><small>posted on {{ item.created }}</small></p>
          <p><a class="btn btn-default" href="{% url 'entry' item.id %}" role="button">Read more &raquo;</a></p>
        </div>
        {% endfor %}
      {% endif %}
      </div>
    </div> <!-- /container -->
{% endblock %}
