{% extends 'base_site.html' %}



{% block content %}
    <div class="container">
    </br></br>
        <h3>Contact Me</h3>
        <h5>Or you can email me <a href="mailto:james@jwarren.co">directly</a>.</h5>
        <hr>
        <form action="" method="POST" onsubmit="thankYou()">{% csrf_token %}
            <p><label for="email"><b>Your Email:</b></label></br>
                <input id="email" type="email" name="email" required="True" maxlength="100" style="width:250px" autofocus /></p>
            <p><label for="subject">Subject:</label></br>
                <input id="subject" type="text" name="subject" required="True" maxlength="100" style="width:250px" /></p>
            <p><label for="body"><b>Your Message:</b></label></br>
                <textarea id="body" name="body" required="True" rows="10" cols="50"></textarea></p>
            <p><input class="btn btn-default" role="button" type="submit" value="Send &raquo;" />
        </form>
    </div>
{% endblock %}
