Django==1.7.7
Fabric==1.10.2
Markdown==2.6.1
Pillow==2.8.1
PyYAML==3.11
Pygments==2.0.2
coverage==3.7.1
dj-database-url==0.3.0
django-configurations==0.8
django-markdown-deux==1.0.5
ecdsa==0.13
factory-boy==2.5.2
markdown2==2.3.0
paramiko==1.15.2
psycopg2==2.6
pycrypto==2.6.1
python-coveralls==2.5.0
python-dateutil==1.5
requests==2.7.0
selenium==2.45.0
sh==1.11
six==1.9.0
sorl-thumbnail==12.2
wsgiref==0.1.2
