body {
  padding-top: 80px;
  padding-bottom: 20px;
  background-color: #fff;
  /*z-index: 1;*/
}

/*html,body {
    background: url("BART.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/

/*body:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("BART.jpg") no-repeat center center fixed;
  background-size: cover;
  opacity: 0.5;
  min-width: 800px;
}*/

p, li, a {
  font-family: 'Josefin Sans', sans-serif !important;
  font-weight: bold;
  font-size: 1.3em;
}

h1, h2, h3, h4, h5 {
  font-family: 'Quattrocento Sans', sans-serif !important;
  font-weight: bold;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2.5em;
}

h4 {
  font-size: 2em;
  font-weight: normal !important;
}

h5 {
  font-size: 1.5em;
  font-weight: normal !important;
}

.navbar-inverse {
  background-color: #337ab7 !important;
  border-bottom: none;
}

.navbar li a:hover {
  color: #444 !important;
}

.jumbotron {
  background-color: #777 !important;
  color: #eee !important;
}

.detail-entry {
  margin: 0 auto;
  max-width: 700px;
}

.headliner {
  margin: 150px auto;
}

.wrapped {
  max-width: 70%;
  float: right;
}
