/*.main-background {
    background-image:url() !important;
    background-position: -100px -100px !important;
    background-attachment: fixed;
    background-color: white;
}*/

body {
  padding-top: 80px;
  padding-bottom: 20px;
  background-color: #efefef;
}

p, li {
  font-family: 'Josefin Sans', sans-serif !important;
  font-size: 1.2em;
}

h1, h2, h3, h4, h5 {
  font-family: 'Quattrocento Sans', sans-serif !important;
}

.navbar-inverse {
  background-color: #337ab7 !important;
}

.navbar li a:hover {
  color: #333 !important;
}

.jumbotron {
  background-color: #efefef !important;
}

.detail-entry {
  margin: 0 auto;
  max-width: 700px;
}
