{% extends 'base.html' %}
{% load markdown_deux_tags %}


{% block nav %}
  <li><a href="{% url 'index' %}#projects">Projects</a></li>
  <li><a href="{% url 'index' %}#posts">Posts</a></li>
  <li><a href="{% url 'index' %}#about">About</a></li>
{% endblock %}

{% block content %}
<a href="javascript:history.go(-1)"><h5>&lsaquo;&lsaquo; Back</h5></a>
</br></br>
  <div class="container detail-entry">
    <h1>{{ entry.title }}</h1>
    <p><small>posted {{ entry.created }}</small></p>
    <p>{{ entry.post|markdown }}</p>
  </div> <!-- /container -->
{% endblock %}
