{% extends 'base.html' %}
{% load markdown_deux_tags %}
{% load thumbnail %}
{% load staticfiles %}


{% block nav %}
  <li><a href="#" onmousedown="autoScrollTo('about');">About</a></li>
  <li><a href="#" onmousedown="autoScrollTo('projects');">Projects</a></li>
  <li><a href="#" onmousedown="autoScrollTo('posts');">Posts</a></li>
{% endblock %}

{% block content %}
    <div class="container headliner" id="summary">
      <div class="col-md-12">
        <h1 class="text-center">James Warren</h1>
        <h4 class="text-center wrapped blue">Python developer with a background in art and a passion for discovering how things work and break</h4>
      </div>
    </div> <!-- /container -->


    <div class="container headliner" id="about">
      <!-- Row of columns -->
      <div class="col-md-2">
        <h1 class="rotate-left project-header blue">About</h1>
      </div>
      <div class="col-md-10">
        <h4>With formal training in the fine arts, I bring a blend of the organic and the structured to every project. 
        Whether it be software development or photography, I love taking things apart, discovering how they work, how they break, and why we need them. I love 
        to learn new things, build cool projects, and share my discoveries with others.</h4>
        <p>Want to know more? I would love to <a href="mailto:james@jwarren.co">connect</a> with you!</p>
      </div>
    </div> <!-- /container -->


    <div class="container text-center headliner" id="projects">
      <!-- Row of columns -->
      <div class="col-md-2">
        <h1 class="rotate-left project-header blue">Projects</h1>
      </div>

      {% if projects %}
        {% for project in projects %}

        <div class="col-md-4">
          <h2>{{ project.title }}</h2>
          <a href="{{ project.link }}" target="_blank">

          {% thumbnail project.screen_shot "300x225" as im %}
            <img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}" class="img-thumbnail" />
          {% endthumbnail %}

          </a><br /><br />
          <p>{{ project.description }}</p>
        </div>
        {% endfor %}
      {% endif %}
    </div> <!-- /container -->

    <div class="container headliner" id="posts">
      <!-- Row of columns -->
      <div class="col-md-2">
        <h1 class="rotate-left project-header blue">Posts</h1>
      </div>
      <!-- <div class="col-md-2"></div> -->

      {% if posts %}
        {% for item in posts %}
        <div class="col-md-4 post">
          <h2 class="post-title"><a href="{% url 'entry' item.id %}">{{ item.title }}</a></h2>
          <p>{{ item.post|markdown|truncatewords:40 }}</p>
          <p><small>posted on {{ item.created }}</small></p>
          <p><a class="btn btn-default" href="{% url 'entry' item.id %}" role="button">Read more &raquo;</a></p>
        </div>
        {% endfor %}
      {% endif %}
    </div> <!-- /container -->
{% endblock %}
