{% extends 'base.html' %}
{% load markdown_deux_tags %}


{% block content %}
    <!-- Main jumbotron -->
<!--     <div class="container">
      <div class="jumbotron">
      {% if heading %}
        <h1>{{ heading.title }}</h1>
        <p>{{ heading.post|markdown|truncatewords:40 }}</p>
        <p><a class="btn btn-primary btn-lg" href="{% url 'entry' heading.id %}" role="button">Read more &raquo;</a></p>
      {% endif %}
      </div>
    </div> -->

    <div class="container headliner">
      <div class="col-md-12">
        <h1>James Warren</h1>
        <h4 class="text-right wrapped">Python developer with a background in art and a passion for discovering how things work and break</h4>
      </div>
    </div>

    <div class="container text-center headliner">
      <!-- Row of columns -->
      <div class="col-md-6">
        <h2>ezPy</h2>
        <p>screenshot here</p>
        <p>blurb here</p>
        <p><a class="btn btn-default" href="http://www.ezpy.co" role="button">Check it out</a></p>
      </div>

      <div class="col-md-6">
        <h2>Dine-o-Truck</h2>
        <p>screenshot here</p>
        <p>blurb here</p>
        <p><a class="btn btn-default" href="http://dine-o-truck.jwarren.co" role="button">Check it out</a></p>
      </div>

    </div> <!-- /container -->



    <div class="container headliner">
      <!-- Row of columns -->
      {% if posts %}
        {% for item in posts %}
        <div class="col-md-4">
          <h2>{{ item.title }}</h2>
          <p>{{ item.post|markdown|truncatewords:40 }}</p>
          <p><small>posted on {{ item.created }}</small></p>
          <p><a class="btn btn-default" href="{% url 'entry' item.id %}" role="button">Read more &raquo;</a></p>
        </div>
        {% endfor %}
      {% endif %}
      
    </div> <!-- /container -->
{% endblock %}
