{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
  <div class="container text-center">
  <!-- <div class="col-md-4 text-left" -->
    </br></br>
    <h3>Contact Me</h3>
    {% if success %}
    <div id="thank-you-alert" class="alert alert-success" role="alert">Thank you! Your information has been submitted!</div>
    {% endif %}
    <form action="" method="POST" onsubmit="thankYou()">{% csrf_token %}
      <p><label for="email"><b>Your Email:</b></label></br>
        <input id="email" type="email" name="email" required="True" maxlength="100" style="width:250px" autofocus /></p>
      <p><label for="subject">Subject:</label></br>
        <input id="subject" type="text" name="subject" required="True" maxlength="100" style="width:250px" /></p>
      <p><label for="body"><b>Your Message:</b></label></br>
        <textarea id="body" name="body" required="True" rows="10" cols="50"></textarea></p>
      <p><input class="btn btn-default" role="button" type="submit" value="Send &raquo;" /></p>
    </form>
    <!-- </div> -->
  </div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/contact.js' %}"></script>
{% endblock %}
